<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />

    <add key="devops-manual" value="feed-url" />

  </packageSources>
    <packageSourceCredentials>
    <devops-manual>
      <add key="Username" value="myliveidemail" />
      <add key="Password" value="PAT" />
    </devops-manual>
  </packageSourceCredentials>
</configuration>