<?xml version="1.0"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings"
                     xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <InstrumentationKey>89c95f9d-0f89-41cb-938b-175499e3052a</InstrumentationKey>
</ApplicationInsights>