# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

jobs:
- job: InitialJob
  steps:
  - script: echo hello from initial job
- job: SubsequentA
  dependsOn: InitialJob
  steps:
  - script: echo hello from subsequent A
  - script: exit 1
- job: SubsequentB
  dependsOn: InitialJob
  steps:
  - script: echo hello from subsequent B
- job: SubsequentC
  condition: succeeded('SubsequentB')
  steps:
  - script: echo hello from subsequent C
